<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="org.bshmedia.navigationToggle"
      version="0.1.0">
    <name>Calendar</name>
    <description>Cordova Navigation Toggle Plugin</description>
    <license>MIT</license>
    <keywords>cordova,navigation</keywords>
 
    <js-module src="www/navigationToggle.js" name="NavigationToggle">
        <clobbers target="window.navigationToggle" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NavigationToggle">
                <param name="android-package" value="org.bshmedia.navigationToggle.NavigationToggle"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/NavigationToggle.java" target-dir="src/org/bshmedia/navigationToggle" />      
     </platform>          
</plugin>`